body{
    background: #2c3e50;
    color: white;
    text-shadow: 1px 1px .5px black;
    font-family: Lato;
}

input, .modal{
    color: rgba(0,0,0,.7);
    
}

/***********
    Font
***********/
h3{
    background-color: #c70101;
    padding: 12px;
    border-top: 20px;
    font-weight: bolder;
    letter-spacing: .1em;
    
}

/***********
    Table
***********/
.table-striped > tbody > tr:nth-child(2n+1)>td,
.table-striped > tbody > tr:nth-child(2n+1)>th{
    background-color: #34495e; 
}

.row .alrt{
    margin-top: 25px;
    
}
/***********
    Modal

.modal-content{
    border-radius: 0;
}
.modal-header, .modal-footer{
    background-color: #333;
    color: white;
    border: 0;
}
.modal-body{
    background: #2c3e50;
    color: white;
}
.close, .close:hover{
    color: white;
}
***********/

/***********
    From
***********/
.btn{
    font-weight: bolder;
    box-shadow: 0px 4px 0px rgba(128, 128, 128, 0.6);
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: italic;
    border-radius: 7px;
}
